## Measure Of Dispersion

In [1]:
##variance

ages_lst=[23,43,23,56,74,32,68,98,45,32]  ## dataset to be used

In [2]:
### statistisc library needed of this operations
import numpy as np

In [3]:
mean=np.mean(ages_lst)   ### take mean and store

In [4]:
mean

49.4

In [5]:
var=np.var(ages_lst)
var

541.64

In [6]:
## using sqrt to find std from variance
std0 = np.sqrt(var)
std0
# Note: same as what we have below

23.273160507331188

In [7]:
### Doing it directly using np.std() method
std=np.std(ages_lst)
std

23.273160507331188

In [10]:
import pandas as pd  ### to work with data frame!!

In [11]:
## creating dataset, complex list
data=[[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [12]:
type(data)

list

In [14]:
## each of the list can be seen as series, using pandas library
a = pd.Series([10,12,13])
b = pd.Series([34,23,45])
c = pd.Series([32,34,21])
print(type(a), type(b), type(c))

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

In [15]:
## creating table to what will be created again below using pandas series

data_abioye = pd.DataFrame({"A": a, "B": b, "C": c})
data_abioye

    A   B   C
0  10  34  32
1  12  23  34
2  13  45  21

In [16]:
### Another way of creating samething is show below

In [17]:
df=pd.DataFrame(data,columns=["A","B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [18]:
### default axis here will be 0 == columns and 1 == rows
df.var()  ## default hers is 0 == columns

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [19]:
### default axis here will be 0 == columns and 1 == rows
df.var(axis=0)  ## default hers is 0 == columns
## Note: same as above!!!!

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [20]:
## Row wise
df.var(axis=1)  ## Explain above already

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [21]:
## coulmnwise
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [22]:
#### The End